@font-face {
    font-family: HKGroteskMedium;
    src: url('./fonts/hk-grotesk/HKGrotesk-Medium.otf') format('opentype');
}

@font-face {
    font-family: HKGroteskBold;
    font-weight: bold;
    src: url('./fonts/hk-grotesk/HKGrotesk-Bold.otf') format('opentype');
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: HKGroteskMedium, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: HKGroteskBold, sans-serif;
    margin: 0;
    font-weight: normal;
}
h1 {
    font-size: 55px;
}
p {
    color: #A0A0A0;
    line-height: 24px;
}
.text-center {
    text-align: center;
}
.section {
    margin-top: 60px;
}
.section .inline-block {
    padding: 0 50px;
}
.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
}
.inline-block {
    display: inline-block;
    vertical-align: middle;
}
.img-responsive {
    width: 100%;
    vertical-align: middle;
}
#header {
    margin-top: 20px;
    overflow: auto;
    content: '';
}
#logo {
    float: left;
}
#logo img {
    width: 20px;
}
#logo__title {
    margin-left: 15px;
    color: #686868;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    font-family: HKGroteskBold, sans-serif;
}
#nav {
    float: right;
}
.nav__menu {
    color: #A0A0A0;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 25px;
}
.button {
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #C4C4C4;
    color: #FFFFFF;
    padding: 10px 20px;
}
.button-signup {
    background-color: #4EC675;
}
.cols {
    display: -webkit-inline-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
}
.col {
    display: block;
}
#welcome .inline-block {
    width: 49.5%;
}
.features {
    margin-top: 60px;
}
.features .col {
    width: 33.3333%;
}
.feature {
    padding: 20px;
    margin: 0 auto 20px;
    width: 60%;
}
.feature:hover {
    background-color: #fafafa;
}
.feature-selected {
    background-color: #fafafa;
}
.feature__title {
    font-size: 14px;
}
.feature__description {
    font-size: 14px;
    line-height: 20px;
}
#students .inline-block {
    width: 49%;
}
#students .right-container {
    padding: 60px;
}
#signup .inline-block {
    width: 49%;
}
form {
    max-width: 414px;
    margin: auto;
}
.input-form .label {
    font-size: 12px;
}
.input-group {
    display: flex;
}
.input {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}
.input-bar {
    width: 300px;
}
.input-btn {
    padding: 10px 15px;
    color: #ffffff;
    background-color: #50C878;
}
#footer {
    text-align: center;
    margin: 40px 0;
    color: #676F75;
    font-family: Helvetica, sans-serif;
}